body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

button {
    background-color: #3882F6;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 6px;
    height: 38px;
    width: 128px;
}

.header,
.random-information,
.quote,
.sign-up,
.footer {
    width: 1440px;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 535px;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: center;
}

.header-top {
    gap: 445px;
    margin-top: 20px;
    margin-bottom: 115px;
}

.header-bottom {
    gap: 50px;
}

.header-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-bottom-left {
    width: 450px;
}

.header-bottom-left .header-subtext {
    margin: 10px 0px;
}

.header-bottom-right {
    width: 520px;
    height: 230px;
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.header-subtext,
.header-links a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links a {
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 25px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.random-information {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.random-information-top {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 50px 0px;
}

.random-information-bottom {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.random-information-bottom .box {
    width: 160px;
    height: 160px;
    border: 4px solid #3883F6;
    border-radius: 15px;
}

.box-container {
    width: 165px;
}

.box-subtext {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    margin: 10px 0px;
    margin-left: 5px;
}

.quote {
    background-color: #EBE7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 425px;
}

.quote-quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    width: 825px;
}

.quote-signature {
    align-self: flex-end;
    margin-right: 345px;
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.sign-up-banner {
    width: 1025px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.action-top,
.action-bottom {
    color: #F9FAF8;
}

.action-top {
    font-size: 24px;
    font-weight: bold;
}

.action-bottom {
    font-size: 18px;
}

.banner-button {
    border: 2px solid #F9FAF8;
}